body {
  background-color: black;
}
.App {
  font-family: "DM Sans", sans-serif;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: black;
  padding: 10px;
  border-radius: 2px;
  
}

.CreateForm {
  font-size: x-large;
  padding-top: 120px;
  width: 66%;
  border-radius: 2px;
  
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
  
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: #ca0e27;
  text-decoration: none;
}

a:hover i {
  color: #ca0e27;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: white;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: red;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: white;
}
*::-webkit-scrollbar-thumb:hover {
  background: #cf2424;
}

@media (max-width: 768px) {
  body {
    background-color: black;
    font-size: 8px;
  }
}
